/* Custom login area */
body.login {
    background: linear-gradient(90deg, #bba026 0%, #aa7c3e 25%, #8b3b66 50%, #39284c 75%, #212843 100%);
    background-image: url('https://northernmediauk.com/nm/images/nm-gradient.svg');
    background-size: cover;
}
#login h1 a {
    background-image: url("https://northernmediauk.com/nm/images/northernmedia-logo.png") !important;
    background-size: 75%;
    text-align: center;
    margin: auto;
    width: 100%;
}

#login a,
.login #backtoblog a,
.login #nav a {
    color: #fff;
}
#login .submit .button-primary {
    background-color: #BDD623;
    border-color: #BDD623;
    font-weight: bold;
    transition: .3s;
}
#login .submit .button-primary:hover {
    background-color: #fff;
    color: #BDD623;
}


/* Admin Area */
#wpadminbar {
    /* background: linear-gradient(90deg, #bba026 0%, #aa7c3e 25%, #8b3b66 50%, #39284c 75%, #212843 100%); */
    background-color: #21282a;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
    background-color: #8d3c67;
}
/* #adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
    background-color: #21282a;
} */
/* #adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
    color: #BDD623;
} */


/* Admin Notice */
/* .northernMedia--notice.notice-success {
    border-image-source: linear-gradient(90deg, #bba026 0%, #aa7c3e 25%, #8b3b66 50%, #39284c 75%, #212843 100%);
} */