form {
    @apply mx-auto;
}

textarea {
    height: 75px;
}

textarea,
input {
    @apply border border-solid border-black py-3 px-4 w-full text-black;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
input::placeholder {
    @apply text-black;
}

input[type="submit"] {
    @apply bg-black text-white uppercase border border-solid border-black;
    width: 150px;
    transition: 0.4s;
    &:hover {
        @apply bg-white text-black;
        cursor: pointer;
    }
}

body {
   background-color: red;
}



@screen lg {
    form {
        @apply w-full;
    }
    .hf-fields-wrap {
        @apply flex flex-wrap w-full;
    }
    form p {
        @apply w-full;
    }
    p.form-half {
        @apply w-1/2;
        &:first-child {
            @apply pr-3;
        }
        &:last-child {
            @apply pl-3;
        }
    }
}