body {
	@apply text-base;
	@apply leading-normal;
}

p {
	@apply text-base;
	@apply leading-normal;
	@apply mb-5;
}

li {
	@apply mb-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-normal;
	@apply mb-3;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-xl;
}

h6 {
	@apply text-xl;
}

p {
	@apply text-base;
}

.svg-inline--fa {
	font-size: 2rem;
}

strong {
	@apply font-bold;
}