// New browser pop up
.updateBrowser {
    border: 10px solid #1e1e40;
    @apply fixed;
    left: 25px;
    top: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.updateBrowser--open {
    opacity: 1;
    pointer-events: all;
}
.updateBrowser__wrapper {
    background-color: rgba(45, 46, 115, .95);
    overflow: hidden;
    @apply px-4 py-8;
}
.updateBrowser .heading {
    @apply text-white;
    order:3;
}
.updateBrowser h3 {
    font-weight: bold;
    font-size: 20px;
}
.updateBrowser .close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @apply mb-4;
}
.updateBrowser .header {
    @apply flex mb-4 flex-col;
}
.updateBrowser ul {
   color: #fff;
   @apply pl-6;
}
.updateBrowser a {
    font-weight: bold;
}
.updateBrowser i {
    color: #fff;
    font-size: 34px;
}
@screen sm {
    .updateBrowser__wrapper {
        @apply px-4 py-12;
    }
    .updateBrowser .header {
        @apply flex-row;
    }
    .updateBrowser .heading {
        @apply pr-8;
        width: 90%;
        order:0;
    }
    .updateBrowser .close {
        width: 10%;
    }
}