.site-footer li {
    &:last-child {
        @apply mb-0;
    }
}
@screen lg {
    .site-footer ul {
        @apply flex;
    }
    .site-footer li {
        @apply mb-0 mr-4;
        &:last-child {
            @apply mr-0;
        }
    }
}