// Mobile Menu
.mobileMenu {
    @apply bg-white fixed top-0  w-full h-full;
    right: -100%;
    z-index: 99999;
    transition: 0.4s;
}
.mobileMenu--open {
    @apply right-0;
}
.site-header .menu .current_page_item a {
    @apply text-black;
}
// Desktop Menu
@screen lg {
    .site-header .menu ul {
        @apply flex lowercase;
    }
    .site-header .menu li {
        @apply mb-0;
        transition: 0.4s;
        &:hover a {
            @apply text-black;
        }
    }
    .site-header .menu a {
        @apply py-4 px-3;
    }
}
// Sticky Nav Desktop+Mobile
.site-header {
    @apply bg-grey fixed top-0 left-0 w-full;
    box-shadow: 0px -15px 25px 0px rgba(0,0,0,0.75);
    z-index: 9999;
}
.site-content {
    margin-top: 79.14px;
}
