// Body margin for header
.site-main {
    @apply mt-24;
}
body {
	@apply bg-white font-main;
}

// Sticky Contact on mobile
.contact-mobile-sticky {
    @apply bg-grey py-2 fixed right-0 bottom-0 w-full;
}

.contact-mobile-sticky svg {
    @apply text-white;
}

.contact-mobile-sticky a {
    @apply text-center border-r border-solid border-white;
    transition: 0.3s;
    &:last-child {
        @apply border-0;
    }
    &:hover, &:active {
        background: blue;
    }
}

.site-footer {
    @apply mb-12;
}

// Sticky Contact on Desktop
@screen lg {
    .contact-mobile-sticky {
        bottom: 150px;
        width: 50px;
        @apply p-0;
        right: -50px;
        transition: 0.3s;
    }
    .contact-mobile-sticky--open {
        @apply right-0;
    }
    .site-footer {
        @apply mb-0;
    }
    .contact-mobile-sticky a {
        @apply border-0 border-b w-full py-2 px-1;
    }
    .site .contact-mobile-sticky a svg {
        width: 1.5rem;
    }
}